/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none; }

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent; }

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0; }

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto; }

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto; }

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold; }

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }

h1 {
  margin: 0; }

body {
  font-family: "Roboto", sans-serif; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

.section {
  position: relative;
  margin-bottom: 100px; }

input[type="radio"]:focus + label,
input[type="file"]:focus + label {
  -webkit-box-shadow: inset 0 0 0 2px #76a7e1;
          box-shadow: inset 0 0 0 2px #76a7e1; }

.wrapper {
  background-color: #eceef4;
  counter-reset: section;
  padding-bottom: 100px; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 620px) {
    .container {
      padding: 0 10px; } }
  @media (max-width: 470px) {
    .container {
      padding: 0 5px; } }

.inner-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px; }

.inner-wrapper {
  background-color: #ffffff;
  border: 1px solid #abb4cd;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.order-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3.8rem 0 7rem;
  border-bottom: 1px solid #abb4cd; }
  @media (max-width: 739px) {
    .order-detail {
      padding: 0 3rem 0 3rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 390px) {
    .order-detail {
      padding: 0 1rem 0 1rem; } }

.order,
.help {
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (max-width: 390px) {
    .order,
    .help {
      padding: 40px 0; } }

.order {
  border-right: 1px solid #abb4cd; }
  @media (max-width: 739px) {
    .order {
      border-right: 0; } }

.order__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 940px) {
    .order__item {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 720px) {
    .order__item {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.order__table {
  margin-right: 7rem; }
  @media (max-width: 940px) {
    .order__table {
      margin-bottom: 20px;
      margin-right: 2rem; } }
  @media (max-width: 430px) {
    .order__table {
      margin-right: 0; } }

.order__list-item:not(:last-child) {
  margin-right: 5.5rem; }
  @media (max-width: 720px) {
    .order__list-item:not(:last-child) {
      margin-right: 10px; } }
  @media (max-width: 430px) {
    .order__list-item:not(:last-child) {
      margin-right: 5px; } }

.button-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 2.5rem; }
  @media (max-width: 500px) {
    .button-box {
      padding-right: 0; } }
  @media (max-width: 430px) {
    .button-box {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.button-box__item--1 {
  margin-bottom: 12px; }

.order__link-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.order__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.order__title {
  position: relative; }
  .order__title:before {
    display: block;
    position: absolute;
    content: "";
    width: 18px;
    height: 24px;
    background-color: #000000;
    background-image: url(../img/tablet.jpg);
    -webkit-background-size: cover;
            background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: top center;
    left: -35px;
    top: -3px; }
    @media (max-width: 390px) {
      .order__title:before {
        top: -35px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); } }

.help {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 6rem; }
  @media (max-width: 940px) {
    .help {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 739px) {
    .help {
      padding-left: 0; } }
  @media (max-width: 739px) {
    .help {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.help__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.help__title {
  position: relative; }

.order__text,
.help__text {
  color: #9fa3c4;
  font-size: 1.4rem; }

.help__text {
  word-break: break-word;
  max-width: 250px; }

.help__link-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.help__link {
  color: #6e768f;
  font-size: 1.4rem;
  font-weight: 500; }
  .help__link:hover {
    text-decoration: underline; }
  .help__link:not(last-child) {
    margin-right: 10px; }

.help__icon {
  position: absolute;
  left: -35px;
  font-size: 20px; }
  @media (max-width: 390px) {
    .help__icon {
      top: -35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }

.translate-selection {
  text-align: center; }

.service {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  @media (max-width: 1200px) {
    .service {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.service__select {
  position: relative; }
  @media (max-width: 1200px) {
    .service__select {
      margin: 10px; } }

.service__input:hover {
  -webkit-box-shadow: 2px 2px 15px -4px #6e768f;
          box-shadow: 2px 2px 15px -4px #6e768f; }

.service__input:focus + .service__img-wrapper {
  -webkit-box-shadow: inset 0 0 0 2px #76a7e1;
          box-shadow: inset 0 0 0 2px #76a7e1; }

.service__img-wrapper {
  font-size: 0;
  display: inline-block;
  padding: 20px 8rem;
  background-color: #f7f7f9;
  border: 1px solid #abb4cd;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .service__img-wrapper:hover {
    -webkit-box-shadow: 2px 2px 15px -4px #6e768f;
            box-shadow: 2px 2px 15px -4px #6e768f; }
  @media (max-width: 360px) {
    .service__img-wrapper {
      padding: 20px 6rem; } }

.service__input:checked + .service__img-wrapper {
  -webkit-box-shadow: inset 0 0 0 6px #76a7e1;
          box-shadow: inset 0 0 0 6px #76a7e1; }

.service__input:checked + .service__img-wrapper:after {
  display: block;
  position: absolute;
  top: -4px;
  right: -6px;
  color: #76a7e1;
  font-size: 30px;
  z-index: 2;
  font-family: FontAwesome;
  content: "\f058";
  background: #fff;
  line-height: 15px;
  width: 22px;
  height: 15px;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.service__text {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: #6e768f;
  margin-top: 10px; }

.documents:before {
  color: #6e768f;
  position: absolute;
  top: -10px;
  left: -60px;
  counter-increment: section;
  content: counter(section);
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #606a85;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
  -webkit-transition: all 225ms ease-in-out;
  -o-transition: all 225ms ease-in-out;
  transition: all 225ms ease-in-out;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-box-shadow: 0 0 11px 1px transparent;
          box-shadow: 0 0 11px 1px transparent; }
  @media (max-width: 1200px) {
    .documents:before {
      position: absolute;
      top: -60px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }

.documents:hover:before {
  -webkit-box-shadow: 0 0 11px 1px #76a7e1;
          box-shadow: 0 0 11px 1px #76a7e1; }

.documents__button-wrapper {
  margin-bottom: 35px; }

.documents__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
  border: 0;
  display: inline-block;
  background-color: #eceef4; }

.documents__input:focus {
  -webkit-box-shadow: inset 0 0 0 2px #76a7e1;
          box-shadow: inset 0 0 0 2px #76a7e1; }

.documents__input:hover + .documents__button {
  -webkit-box-shadow: 2px 2px 15px -4px #6e768f;
          box-shadow: 2px 2px 15px -4px #6e768f; }

.documents__table {
  padding: 3rem;
  border: 1px solid #abb4cd;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 620px) {
    .documents__table {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 2rem; } }

.documents__table-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%; }
  .documents__table-wrapper:not(:last-child) {
    margin-right: 15rem; }
    @media (max-width: 800px) {
      .documents__table-wrapper:not(:last-child) {
        margin-right: 2rem; } }
    @media (max-width: 620px) {
      .documents__table-wrapper:not(:last-child) {
        margin-right: 0; } }
  @media (max-width: 620px) {
    .documents__table-wrapper {
      width: 100%;
      max-width: 320px; } }

.documents__table-item {
  margin-right: 2rem; }
  @media (max-width: 620px) {
    .documents__table-item--2, .documents__table-item--4 {
      margin-right: 0; } }

.documents__name,
.documents__size,
.documents__words,
.documents__remove {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.documents__remove {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 620px) {
    .documents__remove {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; } }

.documents__text {
  font-size: 1.4rem;
  padding: 10px 0;
  color: #9fa3c4; }

.documents__icon {
  font-size: 1.6rem; }

.language:before {
  color: #6e768f;
  position: absolute;
  top: -10px;
  left: -60px;
  counter-increment: section;
  content: counter(section);
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #606a85;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
  -webkit-transition: all 225ms ease-in-out;
  -o-transition: all 225ms ease-in-out;
  transition: all 225ms ease-in-out;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-box-shadow: 0 0 11px 1px transparent;
          box-shadow: 0 0 11px 1px transparent; }
  @media (max-width: 1200px) {
    .language:before {
      position: absolute;
      top: -60px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }

.language:hover:before {
  -webkit-box-shadow: 0 0 11px 1px #76a7e1;
          box-shadow: 0 0 11px 1px #76a7e1; }

.language__row,
.language__selects {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 620px) {
    .language__row,
    .language__selects {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media (max-width: 620px) {
  .language__row {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.language__select-wrapper {
  position: relative; }
  .language__select-wrapper:after {
    position: absolute;
    font-size: 18px;
    top: 0;
    right: 0;
    font-family: FontAwesome;
    content: "\f0dd";
    border-left: 1px solid #abb4cd;
    color: #9fa3c4;
    line-height: 44px;
    text-align: right;
    width: 50px;
    text-align: center;
    height: 50px;
    pointer-events: none; }

.language__item {
  margin: 5px; }
  .language__item--1, .language__item--3 {
    margin-right: 20px; }
  .language__item--2 {
    margin-right: 10px; }
  @media (max-width: 620px) {
    .language__item {
      margin-right: 0; } }

.language__row:not(:last-child) {
  margin-bottom: 35px; }

.language__select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding-right: 75px;
  padding-left: 40px;
  height: 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #eceef4;
  cursor: pointer;
  outline: 0;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  .language__select:focus {
    -webkit-box-shadow: inset 0 0 0 2px #76a7e1;
            box-shadow: inset 0 0 0 2px #76a7e1; }
  .language__select:hover {
    -webkit-box-shadow: 2px 2px 15px -4px #6e768f;
            box-shadow: 2px 2px 15px -4px #6e768f; }

.language__label {
  margin-right: 20px;
  margin-bottom: 0;
  text-align: center; }
  .language__label--to {
    padding-left: 20px; }
  @media (max-width: 620px) {
    .language__label {
      margin: 0;
      padding: 0; } }

.language__plus {
  margin-right: 10px; }

.section-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 720px) {
    .section-group {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.tone {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 150px; }
  .tone:before {
    color: #6e768f;
    position: absolute;
    top: -10px;
    left: -60px;
    counter-increment: section;
    content: counter(section);
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #606a85;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    -webkit-transition: all 225ms ease-in-out;
    -o-transition: all 225ms ease-in-out;
    transition: all 225ms ease-in-out;
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-box-shadow: 0 0 11px 1px transparent;
            box-shadow: 0 0 11px 1px transparent; }
    @media (max-width: 1200px) {
      .tone:before {
        position: absolute;
        top: -60px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); } }
  .tone:hover:before {
    -webkit-box-shadow: 0 0 11px 1px #76a7e1;
            box-shadow: 0 0 11px 1px #76a7e1; }
  @media (max-width: 720px) {
    .tone {
      margin-right: 0;
      margin-bottom: 100px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }

.tone__buttons {
  margin: 10px 0; }

.urgent {
  position: relative;
  width: 53%; }
  .urgent:before {
    color: #6e768f;
    position: absolute;
    top: -10px;
    left: -60px;
    counter-increment: section;
    content: counter(section);
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #606a85;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 2rem;
    -webkit-transition: all 225ms ease-in-out;
    -o-transition: all 225ms ease-in-out;
    transition: all 225ms ease-in-out;
    -webkit-transition-delay: 0.1s;
         -o-transition-delay: 0.1s;
            transition-delay: 0.1s;
    -webkit-box-shadow: 0 0 11px 1px transparent;
            box-shadow: 0 0 11px 1px transparent; }
    @media (max-width: 1200px) {
      .urgent:before {
        position: absolute;
        top: -60px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%); } }
  .urgent:hover:before {
    -webkit-box-shadow: 0 0 11px 1px #76a7e1;
            box-shadow: 0 0 11px 1px #76a7e1; }
  @media (max-width: 720px) {
    .urgent {
      width: 100%; } }

.tone__title,
.urgent__title {
  margin-top: 0; }

.tone__label {
  position: relative;
  display: inline-block;
  min-width: 235px;
  background-color: #eceef4;
  border: 1px solid #abb4cd;
  padding: 25px 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #6e768f;
  cursor: pointer;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }

.tone__icon {
  margin-right: 10px; }

.tone__input:checked + .tone__label {
  -webkit-box-shadow: inset 0 0 0 6px #76a7e1;
          box-shadow: inset 0 0 0 6px #76a7e1; }
  .tone__input:checked + .tone__label:after {
    display: block;
    position: absolute;
    top: -4px;
    right: -6px;
    color: #76a7e1;
    font-size: 30px;
    z-index: 2;
    font-family: FontAwesome;
    content: "\f058";
    background: #fff;
    line-height: 15px;
    width: 22px;
    height: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  .tone__input:checked + .tone__label:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

.tone__label:hover {
  -webkit-box-shadow: 2px 2px 15px -4px #6e768f;
          box-shadow: 2px 2px 15px -4px #6e768f; }

.urgent-timeline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px; }

.urgent-info {
  padding: 3.5rem 4.5rem 3.5rem 6rem;
  border: 1px solid #abb4cd;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.urgent-info__title {
  position: relative; }
  .urgent-info__title:before {
    font-family: FontAwesome;
    content: "\f05a";
    left: -34px;
    top: -4px;
    position: absolute;
    font-size: 21px; }

.user:before {
  color: #6e768f;
  position: absolute;
  top: -10px;
  left: -60px;
  counter-increment: section;
  content: counter(section);
  height: 40px;
  width: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #606a85;
  font-family: sans-serif;
  font-weight: 600;
  font-size: 2rem;
  -webkit-transition: all 225ms ease-in-out;
  -o-transition: all 225ms ease-in-out;
  transition: all 225ms ease-in-out;
  -webkit-transition-delay: 0.1s;
       -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-box-shadow: 0 0 11px 1px transparent;
          box-shadow: 0 0 11px 1px transparent; }
  @media (max-width: 1200px) {
    .user:before {
      position: absolute;
      top: -60px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); } }

.user:hover:before {
  -webkit-box-shadow: 0 0 11px 1px #76a7e1;
          box-shadow: 0 0 11px 1px #76a7e1; }

.user__text {
  display: block;
  margin-bottom: 45px; }

.user__input-wrapper-outer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 20px 0; }

.user__input-wrapper-inner {
  position: relative;
  display: inline-block;
  margin: 1.5rem 2rem 0 0; }

.user__payment {
  margin: 50px 0 35px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.user__payment-label {
  position: relative;
  padding: 30px 50px;
  border: 1px solid #abb4cd;
  background-color: #f7f7f9;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .user__payment-label:hover {
    -webkit-box-shadow: 2px 2px 15px -4px #6e768f;
            box-shadow: 2px 2px 15px -4px #6e768f; }
  .user__payment-label:not(:last-child) {
    margin-right: 20px; }
  @media (max-width: 1200px) {
    .user__payment-label {
      margin: 10px 10px 10px 0; } }

.user__payment-input:checked + .user__payment-label {
  -webkit-box-shadow: inset 0 0 0 6px #76a7e1;
          box-shadow: inset 0 0 0 6px #76a7e1; }
  .user__payment-input:checked + .user__payment-label:after {
    display: block;
    position: absolute;
    top: -4px;
    right: -6px;
    color: #76a7e1;
    font-size: 30px;
    z-index: 2;
    font-family: FontAwesome;
    content: "\f058";
    background: #fff;
    line-height: 15px;
    width: 22px;
    height: 15px;
    -webkit-border-radius: 50%;
    border-radius: 50%; }

.user__label {
  padding-left: 10px; }

.terms {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 700px) {
    .terms {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

@media (max-width: 700px) {
  .terms__item--1 {
    margin-bottom: 20px; } }

@media (max-width: 700px) {
  .terms__item--2 {
    text-align: center; } }

.terms__input {
  height: 15px;
  margin-right: 15px; }

.terms__label {
  font-size: 1.2rem;
  color: #6e768f;
  margin-right: 35px; }

.terms__link {
  text-decoration: underline;
  color: #6e768f; }

.terms__btn--1 {
  margin-right: 20px; }
  @media (max-width: 460px) {
    .terms__btn--1 {
      margin-right: 0;
      margin-bottom: 15px; } }

.main-heading {
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 7px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 6.5rem;
  line-height: 1.2;
  letter-spacing: 3px;
  text-align: center;
  color: #6e768f;
  border-bottom: 1px solid #abb4cd; }

.text {
  color: #9fa3c4;
  font-size: 1.4rem; }
  .text--no-mrg-btm {
    margin-bottom: 0; }
  .text__link {
    text-decoration: underline; }

.secondary-heading {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: #6e768f; }

.tertiary-heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #6e768f; }
  .tertiary-heading--no-mrg-top {
    margin-top: 0; }

.fourth-heading {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #6e768f;
  margin-bottom: 35px; }

.fifth-heading {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
  opacity: 0.6;
  color: #6e768f; }
  .fifth-heading--yellow {
    color: #edbe76; }
  .fifth-heading--no-mrg {
    margin-bottom: 0; }
  .fifth-heading--payment {
    margin-bottom: 8px;
    display: block; }

.add-heading {
  font-size: 1.3rem;
  opacity: 0.7;
  margin-left: 10px;
  font-weight: 300;
  color: #6e768f; }

.btn {
  padding: 20px 35px;
  border: 1px solid #abb4cd;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  min-width: 188px;
  max-width: 220px; }
  .btn:focus, .btn:hover {
    -webkit-box-shadow: 0 0 0 2px #76a7e1;
            box-shadow: 0 0 0 2px #76a7e1;
    color: #76a7e1; }

.icon {
  margin-right: 10px; }

.btn-grey-upper-text {
  text-transform: uppercase;
  background-color: #f7f7f9;
  color: #abb4cd;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-grey-upper-text:focus, .btn-grey-upper-text:hover {
    -webkit-box-shadow: 0 0 0 2px #76a7e1;
            box-shadow: 0 0 0 2px #76a7e1;
    color: #76a7e1; }

.btn-grey-normal-text {
  color: #abb4cd;
  background-color: #eceef4; }
  .btn-grey-normal-text:focus, .btn-grey-normal-text:hover {
    -webkit-box-shadow: 0 0 0 2px #76a7e1;
            box-shadow: 0 0 0 2px #76a7e1;
    color: #76a7e1; }

.btn-turq {
  text-transform: uppercase;
  background-color: #5fcac6;
  color: #ffffff;
  border: 1px solid #5fcac6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-turq:focus, .btn-turq:hover {
    -webkit-box-shadow: 0 0 0 2px #2c8f8b;
            box-shadow: 0 0 0 2px #2c8f8b; }

.trash-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: 0;
  display: inline-block;
  background-color: #ffffff;
  display: inline-block;
  color: #9fa3c4;
  font-size: 1.6rem; }

.trash-icon:hover {
  color: #76a7e1; }

.language__button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #abb4cd;
  text-transform: uppercase;
  color: #9fa3c4;
  font-size: 1.4rem;
  padding-right: 30px;
  padding-left: 30px;
  height: 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #eceef4;
  cursor: pointer;
  outline: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .language__button:focus {
    -webkit-box-shadow: inset 0 0 0 2px #76a7e1;
            box-shadow: inset 0 0 0 2px #76a7e1; }
  .language__button:hover {
    -webkit-box-shadow: 2px 2px 15px -4px #6e768f;
            box-shadow: 2px 2px 15px -4px #6e768f; }

.urgent-timeline__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  margin: 28px 0 15px 0;
  z-index: 1;
  width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .urgent-timeline__input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 10px 0 #edbe76;
            box-shadow: 0 0 10px 0 #edbe76; }
  .urgent-timeline__input:before, .urgent-timeline__input:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 8px;
    background: #d2d7e5;
    top: -1px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: -1; }
  .urgent-timeline__input:before {
    left: 0; }
  .urgent-timeline__input:after {
    right: 0; }
  .urgent-timeline__input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02);
    background: rgba(239, 240, 245, 0.55);
    -webkit-border-radius: 6px;
            border-radius: 6px;
    border: 0px solid #010100; }
  .urgent-timeline__input::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background: #edbe76;
    cursor: pointer;
    margin-top: -6px; }
  .urgent-timeline__input:focus::-webkit-slider-runnable-track {
    background: rgba(239, 240, 245, 0.55); }
  .urgent-timeline__input::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02);
    background: rgba(239, 240, 245, 0.55);
    border-radius: 6px;
    border: 0px solid #010101; }
  .urgent-timeline__input::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #edbe76;
    cursor: pointer; }
  .urgent-timeline__input::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .urgent-timeline__input::-ms-fill-upper {
    background: rgba(239, 240, 245, 0.55);
    border: 0px solid #010101;
    border-radius: 12px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02); }
  .urgent-timeline__input::-ms-fill-lower {
    background: rgba(239, 240, 245, 0.55);
    border: 0px solid #010101;
    border-radius: 12px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02); }
  .urgent-timeline__input::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #edbe76;
    cursor: pointer;
    height: 8px; }
  .urgent-timeline__input:focus::-ms-fill-lower, .urgent-timeline__input:focus::-ms-fill-upper {
    background: rgba(239, 240, 245, 0.55); }

.header {
  padding: 60px 0; }

.nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 450px) {
    .nav__list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.nav__logo {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  @media (max-width: 450px) {
    .nav__logo {
      margin: 40px 0; } }
  .nav__logo:hover {
    -webkit-box-shadow: 0 0 0 5px #76a7e1;
            box-shadow: 0 0 0 5px #76a7e1; }

.urgent-timeline__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  margin: 28px 0 15px 0;
  z-index: 1;
  width: 100%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .urgent-timeline__input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 10px 0 #edbe76;
            box-shadow: 0 0 10px 0 #edbe76; }
  .urgent-timeline__input:before, .urgent-timeline__input:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 8px;
    background: #d2d7e5;
    top: -1px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: -1; }
  .urgent-timeline__input:before {
    left: 0; }
  .urgent-timeline__input:after {
    right: 0; }
  .urgent-timeline__input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02);
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02);
    background: rgba(239, 240, 245, 0.55);
    -webkit-border-radius: 6px;
            border-radius: 6px;
    border: 0px solid #010100; }
  .urgent-timeline__input::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    -webkit-box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
            box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    background: #edbe76;
    cursor: pointer;
    margin-top: -6px; }
  .urgent-timeline__input:focus::-webkit-slider-runnable-track {
    background: rgba(239, 240, 245, 0.55); }
  .urgent-timeline__input::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02);
    background: rgba(239, 240, 245, 0.55);
    border-radius: 6px;
    border: 0px solid #010101; }
  .urgent-timeline__input::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: #edbe76;
    cursor: pointer; }
  .urgent-timeline__input::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .urgent-timeline__input::-ms-fill-upper {
    background: rgba(239, 240, 245, 0.55);
    border: 0px solid #010101;
    border-radius: 12px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02); }
  .urgent-timeline__input::-ms-fill-lower {
    background: rgba(239, 240, 245, 0.55);
    border: 0px solid #010101;
    border-radius: 12px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.02), 0px 0px 0px rgba(13, 13, 13, 0.02); }
  .urgent-timeline__input::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background-color: #edbe76;
    cursor: pointer;
    height: 8px; }
  .urgent-timeline__input:focus::-ms-fill-lower, .urgent-timeline__input:focus::-ms-fill-upper {
    background: rgba(239, 240, 245, 0.55); }

.status-icon {
  display: block;
  width: 0;
  height: 0; }
  .status-icon:after {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    font-family: FontAwesome;
    font-weight: 900;
    top: 50%;
    right: 12px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 24px;
    line-height: 24px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center; }

.user__input {
  min-height: 53px;
  min-width: 250px;
  padding: 15px 50px 15px 15px;
  border: 1px solid #abb4cd;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 1.4rem;
  color: #6e768f; }
  .user__input--long {
    min-width: 325px; }
    @media (max-width: 620px) {
      .user__input--long {
        min-width: 250px; } }
  .user__input--medium {
    max-width: 190px;
    min-width: 0; }
  .user__input--short {
    max-width: 110px;
    min-width: 0; }
  .user__input::-webkit-input-placeholder {
    color: #6e768f; }
  .user__input:-ms-input-placeholder {
    color: #6e768f; }
  .user__input::-ms-input-placeholder {
    color: #6e768f; }
  .user__input::placeholder {
    color: #6e768f; }
  .user__input:focus:invalid + .status-icon:after {
    content: "\f00d";
    background: #e17777; }
  .user__input:valid + .status-icon:after {
    content: "\f058";
    background: #ffffff;
    color: #76a7e1;
    font-size: 25px; }

.footer {
  padding: 40px 0;
  background-color: #444a62; }

.footer__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.footer__title {
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #c7ccea; }

.icon-footer {
  margin-right: 20px; }

.footer__text {
  color: #c7ccea;
  font-size: 1.4rem; }
  .footer__text--italic {
    font-style: italic;
    padding-left: 38.4px; }

.footer__adress,
.footer__list {
  padding-left: 38.4px; }

.footer__list-item {
  margin: 14px 0; }

.icon-list {
  margin-right: 10px;
  background: #c7ccea;
  width: 20px;
  line-height: 20px;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #444a62;
  font-size: 1.2rem; }

.mission {
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px; }

.footer__logo {
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .footer__logo:hover {
    -webkit-box-shadow: 0 0 0 5px #c7ccea;
            box-shadow: 0 0 0 5px #c7ccea; }

.footer__link:hover {
  color: #76a7e1; }

.logo-section {
  text-align: center; }
  @media (max-width: 480px) {
    .logo-section {
      width: 100%; } }
